.mainCard {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  margin: 0px 20px 0px 20px;
  height: auto;
  padding: 10px 20px 0px 20px;
 }
