.signup {
    // SIGN UP FORM STEPPER CLASSES
    //Style Stepper Label
    .MuiStepLabel-root .Mui-completed {
      color: rgb(13, 218, 13);
    }
    // .MuiStepLabel-root .Mui-active {
    //   color: #ab3fee;
    // }

    .signupContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 71px);
    }
    //AUTO FILL FORM STYLING
    .css-myb2s4-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 100px transparent inset;
      -webkit-text-fill-color: #999;
    }
  
      //AUTO FILL FORM STYLING
  .MuiOutlinedInput-root {
    color: #333;
    background-color: transparent;

    //Styling MUI Text Field on auto compelete
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
    input[data-autocompleted] {
      background-color: transparent !important;
    }
  }
    
 

}

//Designing of SignUp Form
.signupForm {
  .signupBtn {
    margin-top: 20px;
    background-color: #a737ed;
    // background-color: #ee0000;
  }
  //React Contact Input DESIGNING
  .react-tel-input .form-control {
    background: transparent;
    color: #333;
    width: -webkit-fill-available;
    height: 40px;
  }
  .react-tel-input .flag-dropdown {
    height: 40px;
    background-color: transparent;
    border-right: none;
  }
  .react-tel-input .selected-flag:hover {
    height: 40px;
    background-color: transparent;
  }
  .react-tel-input .selected-flag {
    height: 40px;
    background-color: transparent !important;
  }

  .react-tel-input .flag-dropdown {
    background-color: transparent !important;
  }
 
  //  Contact Input country list Scroll bar Designing
  .react-tel-input .country-list::-webkit-scrollbar {
      width: 4px;
    }
  
  .react-tel-input .country-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  .react-tel-input .country-list::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
  }
  
  //INPUT LABEL COLOR SETTING
  // .MuiInputLabel-root.Mui-focused {
  //   color: #a737ed !important;
  // }
   //Style Text Field Outline on Focus & Normal
  //  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  //   border-color: #a737ed;
  // }
  // Signup Button styling on light mode 
  .signupBtn:hover {
    margin-top: 20px;
    background-color: #ab3fee;
  }

 
  
 

 
}
