.widget {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;

  //Designing the left and right section of each widget
  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  //Styling the title
  .title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(83, 83, 83);
  }

  //Styling the counter in widget
  .counter {
    font-size: 28px;
    font-weight: 300;
  }

  //Styling the link in widget
  .link {
    font-size: 12px;
    border-bottom: 1px solid gray;
    width: max-content;
  }

  //Styling Percentage item in widget
  .percentage {
    display: flex;
    align-items: center;
    font-size: 14px;

    //If percentage in positive
    &.positive {
      color: green;
    }
    // If the percentage is negative
    &.negative {
      color: red;
    }
  }

  //   Designing the Icons
  .icon {
    font-size: 18px;
    padding: 5px;

    border-radius: 5px;
    align-self: flex-end;
  }
}

.userWidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  width: 500px;
  // max-width: 600px !important;
  transition: background 0.3s ease;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  .avatar {
    margin-bottom: 20px;
  }

  .statsRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    .statBox {
      flex: 1;
      padding: 10px;

      .label {
        font-weight: 600;
        font-size: 14px;
        color: #333;
        margin-bottom: 5px;
      }

      .value {
        font-size: 18px;
        font-weight: bold;
        color: #111;
      }
    }

    .statBox:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }
}
