.dashboard {
  display: flex;
  overflow-x: hidden;
  //Designing the dashboard Container
  .dashboardContainer {
    flex: 6;

    //Designing the widgets container
    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }

    //Designing section of charts
    .charts {
      padding: 5px 20px;
    }
    //Designing the List Container section
    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      //Styling the List Title inside the listContainer
      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
