.featured {
  flex: 2;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  height: 100%;

  //Designing the top section in featured component
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

    //styling the title of top section
    .title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  //Designing the Bottom section of featured component
  .bottom {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    //Designing the featured board
    .featuredBoard {
      width: 100px;
      height: 100px;
    }
    //Styling the title used in the bottom of featured component
    .title {
      font-weight: 500;
      color: gray;
      margin: 0;
    }
    //Styling the amount class used in the bottom of featured component
    .amount {
      font-size: 30px;
      margin: 0;
    }
    //Styling the description class used in the bottom of featured component
    .desc {
      font-weight: 300;
      font-size: 12px;
      color: gray;
      text-align: center;
    }
    //Styling the summary class used in the bottom of featured component
    .summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      
     

      //Styling Item within the summary section
      .item {
        text-align: center;

        //Styling the itemTitle class inside the item class
        .itemTitle {
          font-size: 14px;
          color: gray;
        }

        //Styling the itemResult class inside the item class
        .itemResult {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: 14px;

          //Styling for the positive result
          &.positive {
            color: green;
          }
          //Styling for the negative result
          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
